.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    align-items: center;
}
.search_inp{
    height: 35px;
    width: 420px;
}
.search_b{
    height: 35px;
    width: 40px;
   
}
.search_b:hover{
    cursor: pointer;
}
.cart_b{
    height: 35px;
    width: 90px;
}
.cart_b:hover{
    cursor: pointer;
}
.logo{
    width: 180px;
    height: 140px;
}